body {
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h2 {
    margin-left: 15px; /* Ajusta este valor según sea necesario */
}